*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/* Navbar */
.navbar-item{
    background-color:   rgba(255, 255, 255, 1);
}
.navbar{
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.navbarilogo img{
   max-width: 139px;
   padding: 16px 0 16px;
}
.menu{
    display: flex;
    gap: 32px;
    list-style-type: none;
    text-decoration: none;
}
.menu a{
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}
.menu a:hover{
    color: #30B868;
}

/* common class */
.btn{
    padding: 12px 16px;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    background-color: #30B868;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s;
}
.btn:hover{
    background-color: #1784B4;
    color: var(--Color, rgba(0, 25, 49, 1));
}


/* Banner */
.banner{
    background-image: url("../images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 154.5px 0 179.5px;
}
.banner-article{
    text-align: center;
}
.paragraph p{
    font-size: 16px;
    font-weight: 500;
    color: rgba(70, 145, 101, 1);
    max-width: 229px;
    text-align: center;
    margin: 0 auto 16px;
    padding: 8px 12px;
    border-radius: 1000px;
    background-color: rgba(255, 255, 255, 1);
}
.banner-article h1{
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
}
.banner-tittle h1{
    color: #30B868;
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 16px;
}
.paragraph-2{
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 32px;
}
.btn-type{
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
}
.my-btn{
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    transition-duration: 0.5s;
}
.my-btn:hover{
    color: #30B868;
    border: 1px solid #30B868;
}